.btn-text{font-size: 14px;}

.navbar-header img {
    width: 45% !important;
}
.alert p {
    margin-bottom: 0px !important;
    color: #dc3545 !important;
}
.slim .slim-file-hopper {    
    background-size: contain !important;
}